@use './variables' as *;


// NAVBAR

.navBar {
    position: fixed;
    height: 80px;
    width: 100vw;
    z-index: 2;
    background-color: black;
    -webkit-box-shadow: 0px 0px 14px 10px #000000;
    -moz-box-shadow: 0px 0px 14px 10px #000000;
    -o-box-shadow: 0px 0px 14px 10px #000000;
    box-shadow: 0px 0px 14px 10px #000000;

    a {
        text-decoration: none;
    }

    .flag {
        height: 30px;
        aspect-ratio: 1;

        img {
            height: 100%;
            aspect-ratio: 1;
        }
    }
}

// ProjectPreview

.projectPreview {
    display: flex;
    height: 250px;
    width: 250px;
    aspect-ratio: 1;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.9);
    backdrop-filter: sepia(100%);
    border: solid rgb(78, 78, 78) 0.5px;
    -webkit-box-shadow: 0px 0px 51px 17px #000000;
    -moz-box-shadow: 0px 0px 51px 17px #000000;
    -o-box-shadow: 0px 0px 51px 17px #000000;
    box-shadow: 0px 0px 51px 17px #000000;


    .title {
        font-size: 35px;
        font-weight: bold;
    }

    .imgBox {
        width: 250px;
        height: 150px;
        padding: 1em;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .technologies {
        display: flex;

        .tech {
            img {
                height: 50px;
                aspect-ratio: 1;
            }
        }
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}