@use './variables' as *;

:root {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

ul {
    list-style: none;
}

.background {
    z-index: -1;
    position: fixed;
    height: calc(100% - 80px);
    width: 100vw;
    background-size: cover;
    margin-top: 80px;
}

.container {
    padding-top: 80px;
    height: calc(100vh - 80px);
    position: relative;
    display: flex;
    align-items: center;
}

.toggleLanguage {
    position: fixed;
}