@use './variables' as *;

// ProjectPreview

.projectPreview {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    height: 100%;
    width: 30%;
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    border: solid rgb(128, 128, 128) 1px;
    -webkit-box-shadow: 0px 0px 6px 1px #FF0000;
    -moz-box-shadow: 0px 0px 6px 1px #FF0000;
    -o-box-shadow: 0px 0px 6px 1px #FF0000;
    box-shadow: 0px 0px 6px 1px #FF0000;

    .imgBox {
        width: 250px;
        height: 150px;
        padding: 1em;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}