@use './variables' as *;


// NAVBAR

.navBar {
    position: fixed;
    height: 80px;
    width: 100vw;
    z-index: 2;
    background-color: black;

    a {
        text-decoration: none;
    }

    .flag {
        height: 30px;
        aspect-ratio: 1;

        img {
            height: 100%;
            aspect-ratio: 1;
        }
    }
}

// FOOTER

.footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100vw;
    z-index: 2;
    background-color: black;

    a {
        text-decoration: none;
    }
}

// ProjectPreview

.projectPreview {
    display: flex;
    height: 250px;
    aspect-ratio: 1;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(134, 134, 134);
    border: solid rgb(128, 128, 128) 1px;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 29px 9px #FFFFFF;
    -moz-box-shadow: 0px 0px 29px 9px #FFFFFF;
    -o-box-shadow: 0px 0px 29px 9px #FFFFFF;
    box-shadow: 0px 0px 29px 9px #FFFFFF;


    .title {
        font-size: 35px;
        font-weight: bold;
    }

    .imgBox {
        width: 250px;
        height: 150px;
        padding: 1em;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .technologies {
        display: flex;

        .tech {
            img {
                height: 50px;
                aspect-ratio: 1;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .projectPreview {
        width: 250px;
    }
}

@media screen and (min-width: 1200px) {}