@use './variables' as *;

// HOME
.bg-home {
    background-image: url('/img/background-home.jpg');
}

.container.home {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    color: rgb(255, 255, 255);
    padding-top: 80px;

    .hero {
        position: relative;
        min-height: calc(100vh - 80px);

        .title {
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;

            h1 {
                margin: 0 auto;
                font-size: 10vw;
                white-space: nowrap;
            }

        }

        .avatar {
            height: 50%;
            aspect-ratio: 1;

            img {
                width: 100%;
            }
        }

        .arrows {
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            * {
                opacity: 0;
            }
        }
    }

    .nav {
        min-height: 100vh;
        width: 100%;
        position: relative;
        margin-bottom: 200px !important;

        .advice {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }

        .slide {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 8vw;

            }
        }
    }
}

@media screen and (min-width: 768px) {

    .container.home {
        .hero {
            .title {
                height: 28%;

                h1 {
                    margin-left: 0;
                }
            }

            .avatar {
                position: absolute;
                top: 50px;
                right: 50px;
                height: 300px;
            }

            .arrows {
                height: 10%;
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

// PROJECTS

.bg-projects {
    background-image: url('/img/background-projects.jpg');
}

.container.projects {
    overflow-x: visible;
}

.projectsWrap {
    display: flex;
    width: 100%;
    position: absolute;
    margin-left: calc((var(--bs-gutter-x) * 0.5) * -1);
    top: 0;
    overflow: visible;
    padding: 20px;
    padding-top: 100px;
    height: fit-content;

    flex-direction: column;
    gap: 20px;

    .projectsNav {
        width: 100%;
        height: 40px;

        button {
            text-align: center;
            background-color: white;
            border-radius: 25px;
            padding: 7px 12px;
            -webkit-box-shadow: 0px 0px 9px 6px #000000;
            -moz-box-shadow: 0px 0px 9px 6px #000000;
            -o-box-shadow: 0px 0px 9px 6px #000000;
            box-shadow: 0px 0px 9px 6px #000000;

            &:disabled {
                background-color: rgba(134, 134, 134);
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .projectsWrap {
        height: 100%;
        padding-bottom: 20px;
        margin: 0 auto;
        flex-direction: row;

        .projectsNav {
            position: absolute;
            bottom: 0;
            left: 50%;
            -ms-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);

            * {
                margin: 0 5px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {}