@use './variables' as *;

// HOME
.bg-home {
    background-image: url('/img/background-home.jpg');
}

.container.home {
    color: rgb(255, 255, 255);

    .welcome {
        position: absolute;
        top: 50%;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);

        h4 {
            margin-top: 20px;
        }

    }

    .homeWrap {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .avatar {
            width: 200px;

            img {
                width: 100%;
                aspect-ratio: 0.7;
            }
        }

        .text {
            width: 300px;

            .name {
                font-size: 50px;
                font-weight: bold;
            }

        }
    }

}

// PROJECTS

.bg-projects {
    background-image: url('/img/background-projects.jpg');
}

.container.projects {
    overflow-x: visible;
}

.projectsWrap {
    display: flex;
    width: 100%;
    position: absolute;
    margin-left: calc((var(--bs-gutter-x) * 0.5) * -1);
    top: 0;
    overflow: visible;
    padding: 100px 20px;
    height: fit-content;

    flex-direction: column;
    gap: 20px;

    .projectsNav {
        width: 100%;
        height: 40px;

        button {
            text-align: center;
            background-color: white;
            border-radius: 25px;
            padding: 7px 12px;

            &:disabled {
                background-color: rgba(134, 134, 134, 0.616);
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .projectsWrap {
        height: 100%;
        padding-bottom: 80px;
        margin: 0 auto;
        flex-direction: row;

        .projectsNav {
            position: absolute;
            bottom: 0;
            left: 50%;
            -ms-transform: translate(-50%, -20px);
            transform: translate(-50%, -20px);

            * {
                margin: 0 5px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {}